In [1]:
import pandas as pd

In [2]:
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [5]:
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [6]:
sample_data = {
    "weekdays": ["Sunday", "Monday", "Tuesday"],
    "test_score": [10, 20, 30]
}

In [7]:
df = pd.DataFrame(sample_data)

In [8]:
df

  weekdays  test_score
0   Sunday          10
1   Monday          20
2  Tuesday          30

In [9]:
df.loc[0]

weekdays      Sunday
test_score        10
Name: 0, dtype: object